<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Movie Detail</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/css/styles.css" />
	</head>

	<body>
		<div class="w-full max-w-6xl px-8 mx-auto">
			<!--  Navbar -->
			<%- include('../partials/navbar') %>

			<!-- Flash Messages -->
			<%- include('../partials/flash') %>

			<section class="mb-20">
				<div class="flex flex-col items-center justify-center space-y-4">
					<div class="w-32 overflow-hidden border rounded-full aspect-square border-base-300">
						<img
							src="https://ui-avatars.com/api/?name=<%= user.fullname %>"
							alt="<%= user.namefull %>"
							class="object-cover w-full h-full" />
					</div>
					<h1 class="mb-2 text-4xl font-bold font-display"><%= user.fullname%></h1>
					<p class="mb-8 text-base-content/60"><%= user.username %></p>
				</div>
			</section>
		</div>
	</body>
</html>
